.title {
  font-size: 24px;
  font-weight: 600;
}
.custom-select {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 24px;
  font-weight: 800;
}
.main-temp {
  font-size: 60px;
  font-weight: 900;
}
.value {
  font-size: 24px;
  font-weight: 800;
  /* color: rgba(251, 255, 0, 0.925); */
}
